<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style_form.css') }}">
    <title>Add a User</title>

</head>
<body>
    <div>
        <span class="flex_space">
            <h1>Add a New User</h1>
            <a href="/depot/home">Home</a>
        </span>
        <form action="/addnewuser" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email">Email:</label>
            <input type="text" name="email">
            <input class="shadow" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>